body{
    margin: 0px;
    background-color: ivory;    
}

#header{
    text-align: center;
    background-color: blanchedalmond;
    font-size: 80px;
}

#disqus_thread{
    width = 800px;
}

#dsq-app5453{
        width = 1500px;
}

#header a{
    text-decoration: none;
    color: black;
}

#current img{
  border: solid 3px black;
  border-radius: 30px;
  height: 170px;
  width: 170px;
  align-content: center; 
  align-items: center;
  animation: activeColorRotate 500ms linear infinite;
}

@keyframes activeColorRotate {
  from {
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.8);
    background-image: repeating-linear-gradient(-45deg,rgba(0, 255, 0, 0.2),rgba(0, 255, 255, 0.2),rgba(0, 255, 0, 0.2),rgba(0, 255, 255, 0.2));
  }
  50% {
    box-shadow: 0px 0px 20px 2px rgba(0, 255, 255, 0.8);
    background-image: repeating-linear-gradient(-45deg,rgba(0, 255, 255, 0.2),rgba(0, 255, 0, 0.2),rgba(0, 255, 255, 0.2),rgba(0, 255, 0, 0.2));
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.8);
    background-image: repeating-linear-gradient(-45deg,rgba(0, 255, 0, 0.2),rgba(0, 255, 255, 0.2),rgba(0, 255, 0, 0.2),rgba(0, 255, 255, 0.2));
  }
}

.gbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
    margin: 150px;
    margin-top: 50px;
    padding-left: 50px;
    animation: colorRotate 5s linear infinite;
}

@keyframes colorRotate {
  from {
    box-shadow: 0px 0px 70px 0px rgba(255, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0px 0px 70px 0px rgba(72, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0px 0px 70px 0px rgba(0, 255, 213, 0.5);
  }
  75% {
    box-shadow: 0px 0px 70px 0px rgba(174, 0, 255, 0.5);
  }
  100% {
    box-shadow: 0px 0px 70px 0px rgba(255, 0, 0, 0.5);
  }
}

::-webkit-scrollbar{
    width: 3px;
    border-left: solid 1px black;
}

::-webkit-scrollbar:hover{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(133, 12, 160, 0.7);
}

#column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    text-align: center;
}

#column.blocc{
    width: 200px;
    align-items: center;
}

.small{
  width: 400px;
}

#column.big{
  width: 1600px;
  margin-left: -43.75px;
}

.blocc img{
    border: solid 3px black;
    border-radius: 30px;
    height: 170px;
    width: 170px;
    align-content: center;
    align-items: center;
}

#column.blocc a:hover img{
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 15px 0px grey;
    animation: gradColorRotate 350ms linear infinite;
}

@keyframes gradColorRotate {
  from {
    background-image: linear-gradient(-45deg,rgba(255, 0, 0, 0.1),rgba(72, 255, 0, 0.1));
  }
  25% {
    background-image: linear-gradient(-45deg,rgba(72, 255, 0, 0.1),rgba(0, 255, 213, 0.1));
  }
  50% {
    background-image: linear-gradient(-45deg,rgba(0, 255, 213, 0.1),rgba(174, 0, 255, 0.1));
  }
  75% {
    background-image: linear-gradient(-45deg,rgba(174, 0, 255, 0.1),rgba(255, 0, 0, 0.1));
  }
  100%{
    background-image: linear-gradient(-45deg,rgba(255, 0, 0, 0.1),rgba(72, 255, 0, 0.1));
  }
}

iframe{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#topbar.stuck{
  position: fixed;
  top: 0px;
  width: 100%;
}

#spacing{
  height: 25px;
}

#spacing.stuck{
  height: 85px;
}

#column p{
    font-size: 50px;
}

#defaultCanvas0{
  margin-top: -1010px;
  margin-left: 352.5px;
  position: absolute;
  z-index: -100;
}

#defaultCanvas1{
  margin-top: -1318px;
  margin-left: 352.5px;
  position: absolute;
  z-index: -101;
}

#a{
  text-decoration: none;
  animation: hyperlinq 2s linear infinite;
}

u{
  animation: hyperlinq 10s linear infinite;
}

#cal1, #cal2{
  margin-top: 0px;
}

button{
  font-size: 25px;
}

@keyframes hyperlinq {
  from {
    color: rgba(255, 21, 21, 0.8);
  }
  20% {
    color: rgba(255, 146, 21, 0.8);
  }
  30% {
    color: rgba(40, 255, 21, 0.541);
  }
  35% {
    color: rgba(21, 255, 157, 0.726);
  }
  40% {
    color: rgba(21, 189, 255, 0.8);
  }
  60% {
    color: rgba(44, 21, 255, 0.8);
  }
  70% {
    color: rgba(189, 21, 255, 0.8);
  }
  80% {
    color: rgba(255, 21, 185, 0.8);
  }
  90% {
    color: rgba(255, 21, 99, 0.8);
  }
  100% {
    color: rgba(255, 21, 21, 0.8);
  }
}

select{
  font-size: 20px;
}

input{
  font-size: 20px;
}

h5{
    font-size: 60px;
    font-weight: lighter;
    border-bottom: groove 5px grey;
    border-radius: 200px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 70%;
    align-self: center;
}

#header a:hover{
    margin: 0px;
    background-image: linear-gradient(rgba(19, 255, 243, 0.425),rgba(140, 238, 121, 0.473));
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#topbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 68, 68);
    z-index: 500;
}

#topbar a{
    font-size: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

#topbar a:hover {
    background-color: rgb(219, 219, 219);
    color: black;
    font-weight: lighter;
}
